<div class="card">
    <div class="p-fluid p-formgrid grid">
        <div class="field col-4 pt-6">
            <span class="p-float-label" style="width: 100%;" >
                <input pInputText id="Name" [(ngModel)]="Name" style="width: 100%;"/>
                <label htmlFor="Name">Nombre completo</label>
            </span>
        </div>
        <div class="field col-4 pt-6">
            <span class="p-float-label" style="width: 100%;" >
                <input pInputText id="Email" [(ngModel)]="Email">
                <label htmlFor="Email">Correo electronico</label>
            </span>
        </div>
        <div class="field col-4 pt-6">
            <span class="p-float-label" style="width: 100%;" >
                <input pInputText id="Phone" [(ngModel)]="Phone">
                <label htmlFor="Phone">Número télefonico</label>
            </span>
        </div>
        <div class="field col-4 pt-6">
            <span class="p-float-label" style="width: 100%;" >
                <p-password [(ngModel)]="Password" [toggleMask]="true" appendTo="body"></p-password>
                <label htmlFor="Password">Contraseña</label>
            </span>
        </div>
        <div class="field col-4 pt-3"></div>
        <div class="field col-12 pt-3">
            <p-button icon="pi pi-save" label="Registrarme"
            (onClick)="CreateUser()"
            styleClass="p-button-success"
            [disabled]="!Name || !Email || !Phone || !Password || Password.length < 8"></p-button>
        </div>
    </div>
</div>